---
slug:     copyright
category: pages
title:    Copyright
---

<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <!-- <p class="lead">...</p> -->
  </header>
  
  <div class="copy">
    <p>This code is made publically available for educational and inspirational purposes only, and the repository can be found at <a href="{{app.repo}}">GitHub</a></p>

    <p>While you are free to download, modify, and play around with the entire codebase it remains the intellectual property of <a href="{{owner_url}}">The National Gallery of Denmark</a>.</p>
    
    <p>Note that the open source projects used in this project (like Grunt, Bower etc.) all fall under other usage licenses.</p>
  </div>
</article>