---
slug:     teasers
category: components
title:    Teasers
---
<article id="{{slug}}" class="article article--{{slug}}">
  <header>
    <h1 class="heading--l">{{title}}</h1>
    <p class="lead">
      Teasers are small snippets of content that represents a full article, page, or items in the collection. Teasers come in two different styles; grid and list.
    </p>
  </header>
  
  <div class="subsection">
    <h2 class="heading">Grid style</h2>
    <p>This is a single teaser in the 'grid' style, which allows for large thumbnails. By default the teaser will take up the entire width of its parent element, however, in this example <a href="https://github.com/desandro/masonry">Masonry</a> is used to create a tile-like layout.</p>

    <div id="teasersGrid"></div>

    <script id="teaserGridTemplate" type="text/template">
      \{{#artworks}}
        <article class="teaser--grid">
          <div class="teaser__wrapper">
            <div class="teaser__thumbnail">
              <a href="\{{url}}" alt="\{{title}}">
                <img src="/images/artworks/\{{thumbnail}}" alt="\{{title}}">
              </a>
            </div>
            
            <div class="teaser__content">
              <ul class="teaser__category">
                \{{#categories}}
                  <li>
                    <a href="\{{url}}">\{{name}}</a>
                  </li>
                \{{/categories}}
              </ul>
              
              <h3 class="teaser__heading">
                <a href="\{{url}}" alt="\{{title}}">\{{title}}</a>
              </h3>

              <div class="teaser__description">
                \{{description}}
              </div>

              <ul class="teaser__meta">
                \{{#meta}}
                  <li><span>\{{key}}</span> \{{value}}</li>
                \{{/meta}}
              </ul>
            </div><!-- teaser__content -->
          </div><!-- teaser__wrapper -->
        </article><!-- teaser -->      
      \{{/artworks}}
    </script>
  </div><!-- subsection -->

  <div class="subsection">
    <h2 class="heading">List style</h2>
    <p>This is a single teaser in the 'list' style, which is more compace than the 'grid' style. On the other hand thumbnails have much less emphasis.</p>
    <p>Missing...</p>
  </div><!-- subsection -->
  
</article>