---
layout:   view.hbs
slug:     view_search_results_2_columns
category: views
title:    Search Results (2 cols)
---

<ul class="tabs">
  <li><a href="#">Alle <span>(100)</span></a></li>
  <li class="tab--active"><a href="#">Værker <span>(12)</span></a></li>
  <li><a href="#">Nyheder <span>(8)</span></a></li>
  <li><a href="#">Blog <span>(20)</span></a></li>
  <li><a href="#">Artikler <span>(30)</span></a></li>
  <li><a href="#">Kalender <span>(30)</span></a></li>
  <li class="tabs__right">
  </li>
</ul>   

<div class="sort-by-picker chosen--simple chosen--small">
  <label>Sort by:</label>
  <select>
    <option value=""></option>
    <option value="Relevans" selected>Relevans</option>
    <option value="Dato">Dato</option>
    <option value="Popularitet">Popularitet</option>
  </select>
</div><!-- chosen -->

<form class="view-picker" method="post">
  <input type="radio" name="view" value="grid" id="grid" checked />
  <label for="grid" class="grid">Grid</label>

  <input type="radio" name="view" value="list" id="list" />
  <label for="list" class="list">List</label>

  <input type="radio" name="view" value="image" id="image" />
  <label for="image" class="image">Image</label>
</form>

<!-- Teasers will be rendered into this div -->
<div id="teaser-container-grid" class="full-width"></div>

<script id="teaserTemplateGrid" type="text/template">
  \{{#artworks}}
    <article class="teaser--grid">
      <div class="teaser__wrapper">
        <div class="teaser__thumbnail">
          <a href="\{{url}}" alt="\{{title}}">
            <img src="/images/artworks/\{{thumbnail}}" alt="\{{title}}">
          </a>
        </div>
        
        <div class="teaser__content">
          <ul class="teaser__category">
            \{{#categories}}
              <li>
                <a href="\{{url}}">\{{name}}</a>
              </li>
            \{{/categories}}
          </ul>
          
          <h3 class="teaser__heading">
            <a href="\{{url}}" alt="\{{title}}">\{{title}}</a>
          </h3>

          <div class="teaser__description">
            \{{description}}
          </div>

          <ul class="teaser__meta">
            \{{#meta}}
              <li><span>\{{key}}</span> \{{value}}</li>
            \{{/meta}}
          </ul>
        </div><!-- teaser__content -->
      </div><!-- teaser__wrapper -->
    </article><!-- teaser -->      
  \{{/artworks}}
</script>