<div class="drawer">

  <!-- Pages -->
  <nav>
    <a href="/">Home</a>
    <a href="/about.html">About</a>
    <a href="/copyright.html">Copyright</a>
  </nav>

  <!-- Components -->
    <h3 class="heading">Components</h3>
    <nav>
      {{#each pages}}
        {{#is data.category "components"}}
          <a href="/{{data.slug}}.html">{{data.title}}</a>
        {{/is}}
      {{/each}}
    </nav>

  <!-- Design -->
    <h3 class="heading">Design</h3>
    <nav>
      {{#each pages}}
        {{#is data.category "design"}}
          <a href="/{{data.slug}}.html">{{data.title}}</a>
        {{/is}}
      {{/each}}
    </nav>

  <!-- Views -->
    <h3 class="heading">Views</h3>
    <nav>
      {{#each pages}}
        {{#is data.category "views"}}
          <a href="/{{data.slug}}.html">{{data.title}}</a>
        {{/is}}
      {{/each}}
    </nav>